.InputSearch {
    width: 600px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    background-color: #5F446F;
    border: 2px solid #1ED760;
}
.InputSearch input {
    height: 100%;
    width: 94%;
    border: none;
    border-radius: 20px;
    padding: 0 0 0 1rem;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    background-color: #5F446F;
    color: #ffffffc2;
}
.InputSearch input::placeholder {
    color: #ffffffc2;
}
.InputSearch .icon {
    font-size: 23px;
    position: absolute;
    right: 10px;
    color: #ffffffc2;
    cursor: pointer;
}