:root {
    --Primary: #300346;
    --secondary: #590364;
    --Terciary: #60015D;
    --quartiary: #79035D;
    --fontColorSideBar: #1ED760;
}
.sideBar {
    background-image: linear-gradient(var(--Primary), var(--secondary), var(--Terciary), var(--quartiary));
    height: 100vh;
    width: 350px;
    color: #fff;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
    flex-direction: column;
    gap: 10px;
}
.logo img {
    width: 100px;
    height: 100px;
}
.navigation {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
}
.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}
.navigation ul .options {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.navigation ul #user {
    margin-bottom: 10px;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navigation ul #user img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.navigation ul .options span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.navigation ul .options span .icon {
    font-size: 20px;
}
.navigation ul .options:hover, 
.navigation ul .options:active,
.navigation ul  .options:focus {
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 7px;
    color: var(--fontColorSideBar);
}
.navigation hr {
    width: 100%;
}
.btn {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}
.btn button {
    width: 85%;
    height: 100%;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    text-align: center;
}
.btn button:active {
    border: 2px solid rgba(0, 0, 0, 0.644);
}


