:root {
    --Primary: #300346;
    --secondary: #590364;
    --Terciary: #60015D;
    --quartiary: #79035D;
    --fontColorSideBar: #1ED760;
    --fontColor: #fff;
}
.container {
    background-image: linear-gradient(var(--Primary), var(--secondary), var(--Terciary), var(--quartiary));
    width: 22%;
    color: var(--fontColor);
    z-index: 1;
    transition: all .5s ease;
}
.container .imageSong {
    width: 90%;
    height: 550px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.container .imageSong .titleSong {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
.container .audio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
